.devFooter {
  margin-top: 14.69%;
}
img {
  border-radius: 50%;
}
@media screen and (max-height: 900px) {
  .devFooter {
    margin-top: 6.54%;
  }
}
@media screen and (max-width: 899px) {
  .devFooter {
    height: 200px !important;
  }
  .igual {
    display: none;
  }
  .devImg {
    width: 45% !important;
  }
}
